# Project info
DATABASE_URL=yourDatabaseUrl
FRONTEND_URL=yourFrontendUrl

# Email
SMTP_HOST=yourSmtpHost
SMTP_PORT=yourSmtpPort
SMTP_USER=yourSmtpUser
SMTP_PASS=yourSmtpPass

# Json Web Token (JWT)
JWT_SECRET=yourJwtSecret
